{% extends "ecommerce/mail/base_mail.html" %}

{% block body %}
    <h2>Une commande a été effectuée sur le site <a href="//eboagroup.com">BoaGroup'</a>.</h2>
    <br>

    <h3>Informations sur la commande : </h3>
    <div>
        Référence :&nbsp;&nbsp;{{ command_ref }} <br>
        Effectuée le :&nbsp;&nbsp;{{ command_created_at }}<br>
        Date de réception attendue :&nbsp;&nbsp;{{ command_date }}<br>
        Coût total :&nbsp;&nbsp;{{ command_total }} <br>
        <p>Veuilez retrouver tous <a href="{{ url }}">les détails de la commande ici</a></p>
    </div>
    <br>

    <h3>Informations de l'acheteur :</h3>
    <div>
        Nom(s) et Prénom(s) :&nbsp;&nbsp;{{ name }}<br>
        Email :&nbsp;&nbsp;<a href="mailto:{{ email }}">{{ email }}</a><br>
        N° de téléphone :&nbsp;&nbsp;<a href="tel:{{ contact1 }}">{{ contact1 }}</a>
    </div>
{% endblock %}