{% extends "ecommerce/mail/base_mail.html" %}

{% block body %}
    <h2> Bonjour, vous avez reçu un contact sur le site <a href="//eboagroup.com">BoaGroup'</a>.<br></h2>
    <h3>Informations sur l'émeteur du message :</h3>
    <div>
    Nom(s) et prénoms :&nbsp;&nbsp;&nbsp;<b>{{ name }}</b><br>
    Email :&nbsp;&nbsp;&nbsp;<a href="mailto:{{ email }}">{{ email }}</a><br>
    N° de téléphone :&nbsp;&nbsp;&nbsp;<a href="tel:{{ phone }}">{{ phone }}</a>
    </div>
    <br>
    <br>
    <h3>Voici le message :</h3>
    <div class="msg"
         style="border-left: 3px solid #c0c0c0; padding: 10px; font-style: italic; font-size: 1.1em; font-family: sans-serif;">{{ message | safe }}</div>

{% endblock %}

{% block signature %}
{% endblock %}